.container::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.container::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.container::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.container::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.container::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.container::-webkit-scrollbar-track:hover {
  background: #666666;
}
.container::-webkit-scrollbar-track:active {
  background: #333333;
}
.container::-webkit-scrollbar-corner {
  background: transparent;
}

.container {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  overflow-y: auto;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.mainContainer {
  padding-left: 1rem;
  padding-right: 1rem;
}

.menuLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  border-radius: 5px;
}

.menuLink:hover {
  background-color: #999999;
  transition: background-color 0.3s ease-in-out;
}

.menuLink .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menuLink .icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menuLink:hover .icon {
  opacity: 1;
}

.menuLink.active {
  background-color: #666666;
}

.menuLink.active .icon {
  opacity: 1;
}
